<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">

<nav class="navbar fixed-top navbar-desktop">
  <div class="container">
    <div class="site-name">
        <%= link_to root_path do %>
          <img src="<%= asset_path('logo.png') %>" style="width:50px; margin-right:10px;">
        <% end %>
      <%= link_to('EV PlugBox, LLC.', {controller: 'main' , action: 'index'}) %>
    </div>
    <nav>
      <ul class="nav-menu">
        <li class="nav-item"><%= link_to('Home', {controller: 'main' , action: 'index'}) %></li>
        <li class="nav-item"><%= link_to('Who We Are', {controller: 'main' , action: 'about'}) %></li>
        <li><%= link_to('Contact', 'https://forms.gle/M93TsGzZf3HAem288', class:"contact-btn") %></li>
      </ul>
    </nav>
  </div>
</nav>